<template>
    <div class="container">
        <!-- login form -->
        <div v-if="!authenticated" >
            <v-card
                class="mx-auto"
                max-width="700"
            >
                <v-form
                    class="py-4 mx-4"
                    ref="form"
                    v-model="valid"
                    lazy-validation
                >
                    <v-text-field
                        v-model="email"
                        :rules="emailRules"
                        label="E-mail"
                        required
                    ></v-text-field>

                    <v-text-field
                        v-model="password"
                        :append-icon="show1 ? 'mdi-eye' : 'mdi-eye-off'"
                        :rules="passwordRules"
                        :type="show1 ? 'text' : 'password'"
                        label="Password"
                        required
                        @click:append="show1 = !show1"
                    ></v-text-field>

                    <v-btn
                        :disabled="!valid"
                        color="success"
                        class="mr-4"
                        @click="handleLogin"
                    >
                    Login
                    </v-btn>
                </v-form>
            </v-card>
        </div>
        <div v-else class="mt-4">
            <div v-if="user.is_admin == 0">
                <div class="col-12">
                    <h3>My Loans</h3>
                </div>
                <v-row justify="end">
                    <v-dialog v-model="dialog" persistent max-width="600px">
                        <template v-slot:activator="{ on, attrs }">
                            <v-btn small
                            color="#00796B"
                            dark
                            v-bind="attrs"
                            v-on="on"
                            >
                            Apply Loan
                            </v-btn>
                        </template>
                        <v-card>
                            <v-card-title>
                                <span class="headline">Loan Application</span>
                            </v-card-title>
                            <v-card-text>
                                <v-container>
                                    <v-row>
                                        <v-col cols="12" sm="6">
                                            <v-select
                                            v-model="loanData.currency"
                                            :items="currencies"
                                            item-text="name"
                                            item-value="isocode"
                                            label="Currency"
                                            required
                                            ></v-select>
                                        </v-col>
                                        <v-col cols="12">
                                            <v-text-field v-model="loanData.amount" label="Loan amount" required></v-text-field>
                                        </v-col>
                                        <v-col cols="12">
                                            <v-text-field v-model="loanData.term" label="Loan term (week)" required></v-text-field>
                                        </v-col>
                                    </v-row>
                                </v-container>
                            </v-card-text>
                            <v-card-actions>
                                <v-spacer></v-spacer>
                                <v-btn color="blue darken-1" text @click="dialog = false">Cancel</v-btn>
                                <v-btn color="blue darken-1" text @click="applyLoan">Submit Loan Application</v-btn>
                            </v-card-actions>
                        </v-card>
                    </v-dialog>
                </v-row>
                <div v-if="!showPaymentTable">
                    <v-simple-table>
                        <template v-slot:default>
                        <thead>
                            <tr>
                                <th class="text-left">No</th>
                                <th class="text-left">Term</th>
                                <th class="text-left">Currency</th>
                                <th class="text-left">Amount</th>
                                <th class="text-left">Status</th>
                                <th class="text-left">Payment</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="(item, count) in loans" :key="item.id">
                                <td>{{ count + 1 }}</td>
                                <td>{{ item.term }}</td>
                                <td>{{ item.currency }}</td>
                                <td>{{ item.amount }}</td>
                                <div v-if="item.loan_status_id == 1">
                                    <td>Pending Approval</td>
                                </div>
                                <div v-else-if="item.loan_status_id == 2">
                                    <td>Approved</td>
                                </div>
                                <div v-else>
                                    <td>Rejected</td>
                                </div>
                                <td>
                                    <v-btn small
                                        :disabled="item.loan_status_id == 2 ? false : true"
                                        color="#4DB6AC"
                                        class="mr-4"
                                        @click="getLoanPayments(item.id)"
                                    >
                                    View Payment
                                    </v-btn>
                                </td>
                            </tr>
                        </tbody>
                        </template>
                    </v-simple-table>
                </div>
                <div v-else>
                    <v-btn small
                        color="#C5CAE9"
                        class="mr-4"
                        @click="toggleTable"
                    >
                        View Loans
                    </v-btn>
                    <v-simple-table>
                        <template v-slot:default>
                        <thead>
                            <tr>
                                <th class="text-left">No</th>
                                <th class="text-left">Week</th>
                                <th class="text-left">Paid</th>
                                <th class="text-left"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="(item, count) in loan_payments" :key="item.id">
                                <td>{{ count + 1 }}</td>
                                <td>{{ item.week }}</td>
                                <td>{{item.is_paid == 0 ? 'Unpaid' : 'Paid'}}</td>
                                <td>
                                    <v-btn small
                                        :disabled="item.is_paid == 0 ? false : true"
                                        color="success"
                                        class="mr-4"
                                        @click="payLoan(item.id)"
                                    >
                                    Pay
                                    </v-btn>
                                </td>
                            </tr>
                        </tbody>
                        </template>
                    </v-simple-table>
                </div>
            </div>
            <div v-else>
                <div class="col-12">
                    <h3>All Loans</h3>
                </div>
                <v-simple-table>
                    <template v-slot:default>
                    <thead>
                        <tr>
                            <th class="text-left">No</th>
                            <th class="text-left">Name</th>
                            <th class="text-left">Term</th>
                            <th class="text-left">Currency</th>
                            <th class="text-left">Amount</th>
                            <th class="text-left">Status</th>
                            <th class="text-left">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="(item, count) in loans" :key="item.id">
                            <td>{{ count + 1 }}</td>
                            <td>{{ item.user['name'] }}</td>
                            <td>{{ item.term }}</td>
                            <td>{{ item.currency }}</td>
                            <td>{{ item.amount }}</td>
                            <div v-if="item.loan_status_id == 1">
                                <td>Pending Approval</td>
                            </div>
                            <div v-else-if="item.loan_status_id == 2">
                                <td>Approved</td>
                            </div>
                            <div v-else>
                                <td>Rejected</td>
                            </div>
                            <td>
                                <v-btn small
                                    :disabled="item.loan_status_id == 1 ? false : true"
                                    color="#388E3C"
                                    @click="updateLoanStatus(item.id, 2)"
                                >
                                Approve
                                </v-btn>
                                <v-btn small
                                    :disabled="item.loan_status_id == 1 ? false : true"
                                    color="#B71C1C"
                                    @click="updateLoanStatus(item.id, 3)"
                                >
                                Reject
                                </v-btn>
                            </td>
                        </tr>
                    </tbody>
                    </template>
                </v-simple-table>
            </div>
            <v-btn small
                color="#FFE0B2"
                class="mr-4 mt-3"
                @click="handleLogout"
            >
                Logout
            </v-btn>
        </div>
    </div>
</template>
<script>
import axios from 'axios';
import { mapActions, mapGetters } from 'vuex';

export default {
    data() {
        return {
            valid: true,
            email: '',
            emailRules: [
                v => !!v || 'E-mail is required',
                v => /.+@.+\..+/.test(v) || 'E-mail must be valid',
            ],
            password: '',
            passwordRules:[
                v => !!v || 'Required.',
            ],
            show1: false,
            loanData: {
                term: '',
                amount: '',
                currency: ''
            },
            loans: [],
            loan_payments: [],
            showPaymentTable: false,
            dialog: false,
            currencies: '',
            waitData: true,
        };
    },
    computed: {
        ...mapGetters({
            authenticated: 'authenticated',
            user: 'user'
        })
    },
    methods: {
        ...mapActions({
            signIn: 'signIn',
            signOutAction: 'signOut'
        }),
        toggleTable() {
            this.showPaymentTable = !this.showPaymentTable;
        },
        async handleLogin() {
            if(this.$refs.form.validate()) {
                var self = this;
                self.valid = true

                var formData = {
                    email: self.email,
                    password: self.password
                }

                await self.signIn(formData);
            }
        },
        async applyLoan() {
            var self = this;

            await axios.post('/api/loan/apply', self.loanData).then((response) => {
                self.loans.push(response.data.loan);
                self.dialog = false;
                this.$forceUpdate();
            });
        },
        async handleLogout() {
            var self = this;
            await self.signOutAction(self.formData);
        },
        async getLoanPayments(id) {
            var self = this;
            var params = {
                loan_id: id
            }

            axios.get('/api/loan/payments', {params}).then((response) => {
                if(response.status == 200) {
                    self.loan_payments = response.data.loan_payments;
                    self.showPaymentTable = true;
                }
            });
        },
        async payLoan(id) {
            var self = this;

            var formData = {
                loan_payment_id: id
            }

            await axios.post('/api/loan/pay', formData).then((response) => {
                for (var x in self.loan_payments) {
                    if(self.loan_payments[x].id == id) {
                        self.loan_payments[x].is_paid = response.data.loan_payments.is_paid;
                        this.$forceUpdate();
                    }
                }
            });
        },
        async updateLoanStatus(loanId, loanStatus) {
            var self = this;

            var formData = {
                loan_id: loanId,
                status: loanStatus
            }

            await axios.post('/api/loan/updateStatus', formData).then((response) => {
                for (var x in self.loans) {
                    if(self.loans[x].id == loanId) {
                        self.loans[x].loan_status_id = loanStatus;
                        this.$forceUpdate();
                    }
                }
            });
        },
    },
    created() {
        if(this.authenticated) {
            var route = this.user.is_admin == 0 ? '/api/loan' : '/api/loan/all';

            axios.get(route).then((response) => {
                this.loans = response.data.loans;
                this.$forceUpdate();
            });

            if(this.user.is_admin == 0) {
                axios.get('/api/currency').then((response) => {
                    this.currencies = response.data.currencies;
                });
            }
        }
    }
};
</script>

<style>
.form-row {
    margin-bottom: 8px;
}
</style>
